.content {
    width: 980px;
    margin-right: auto;
    margin-top: 0px;
}
  
.bars-wrapper {
  margin: 0px 0px;
  margin-top: 0px;
}

.popular-posts-title {
  font-weight: 600;
}

.bars-wrapper-inside {
  display: flex;
}
  